#cardList li {
    list-style: none;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
    background: #127F6F;
}

li.loading {
    animation: pulsate infinite alternate .3s;
}

img {
    width: 100%;
    height: auto;
    transition: opacity 1s;
}

li.loading img {
    opacity: 0;
}

@keyframes pulsate {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.8;
    }
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#tail {
    border: 1px solid blue;
    height: 60px;
    width: 350px;
    overflow: hidden;
    float: right;
}

.modal-content {
    width: auto; 
    text-align:center; 
    margin: auto auto; 
    min-width: 200px; 
    max-width: 400px;
}